@{
    ViewBag.Title = "Device Tracking Monitor";
}

<div>
    <br />
    <h3>Tracker Information:</h3>
    @foreach (string attribute in ViewBag.TrackerInfo)
    {
        <p>@attribute</p>
    }
</div>

<div>
    <div id="googleMap" style="width:100%;height:400px;"></div>
    <script>
        function myMap() {
            var coords = new google.maps.LatLng(@ViewBag.Lat, @ViewBag.Lng)
            var mapProp = {
                center: coords,
                zoom: 14,
            };
            var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
            var marker = new google.maps.Marker({
                position: coords,
                map: map,
                title: 'Tracker'
            });
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAz4PACaSGsEmcsIqvGORN9vOUcOTni3kY&callback=myMap"></script>
</div>

<div>
</div>